

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dungeons And Dragons Wiki</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <style>
  @font-face {
    font-family: 'barbarianregular';
    src: url('fonts/barbarian-webfont.woff2') format('woff2'),
    url('fonts/barbarian-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'dndcregular';
    src: url('fonts/dndc-webfont.woff2') format('woff2'),
    url('fonts/dndc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  h1.events{
    text-align: center;
    color: Black;
    font-family: 'dndcregular';
  }

  h1.Title{
    text-align: center;
    color: Black;
    font-family: 'barbarianregular';
  }

  .navbar{
    margin-bottom:0;
    border-radius:0;
  }
  </style>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=".">Natural 20</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse container-fluid" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="campaigns">campaigns</a></li>
          <li><a href="characters">Characters</a></li>
          <li class="dropdown">
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  {{{body}}}

</body>
</html>
