

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dungeons And Dragons Wiki</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <style>
    @font-face {
        font-family: 'barbarianregular';
        src: url('fonts/barbarian-webfont.woff2') format('woff2'),
             url('fonts/barbarian-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'dndcregular';
        src: url('fonts/dndc-webfont.woff2') format('woff2'),
             url('fonts/dndc-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    h1.events{
      text-align: center;
      color: Black;
      font-family: 'dndcregular';
    }

     h1.Title{
    text-align: center;
    color: Black;
    font-family: 'barbarianregular';
    }
    </style>




{{{body}}}

  </body>
</html>
