<h1 class="text-center">{{this.campaignName}}</h1>
<br>
<div class= "container">
<p class="lead text-center">{{this.campaignName}} <small class="text-muted">was started on {{this.campaignCreationDate}}</small></p>
<hr>
<p class="lead">{{this.campaignStory}}</p>
</div>
