<br>
<h1 class="text-center">Campaign Decisions</h1>

<div class="container">

<a href="/createcampaign" class="btn btn-success" role="button">Create a Campaign</a>
<hr>
<a href="/campaignhistory" class="btn btn-success" role="button">View Past and Current Campaigns</a>

</div>
