<h1 class="text-center">Group Directory</h1>

<div class="container">

      <table class="table">
        <thead>
          <th scope="col"> Group Name </th>
          <th scope="col"> Campaign Began On </th>
          <th scope="col"> History of the Campaign</th>
        </thead>
      <tbody>
        {{#each results}}
        <tr>
            <td>{{this.campaignName}}</td>
            <td>{{this.campaignCreationDate}}</td>
            <td><button type="submit" class="btn btn-light"><a href="campaignhistory?ID={{this.campaignID}}">View</a></button></tr>
        {{/each}}
      </tbody>
    </table>
</div>
