
<div class="container">
  <br>
  <img src="images\races.jpg" class=" createcharacter img-fluid text-center" alt="Responsive image">
  <h1 class="text-center">Create your Character!</h1>
  <label for="exampleFormControlInput1">What is your name adventurer?</label>
  <input type="text" name = "Name" class="form-control" id="exampleFormControlInput1">
  <hr>
  <p>Select your race</p>
  <select class="selectpicker" data-style="btn-info" name="selectpicker">
             <optgroup label="Select Race">
               <option name="option1" value="Sports">Dwarf</option>
               <option name="option2" value="Education">Elf</option>
               <option name="option3" value="Entertainment">Halfling</option>
               <option name="option4" value="General">Human</option>
               <option name="option4" value="General">Dragonborn</option>
               <option name="option4" value="General">Gnome</option>
               <option name="option4" value="General">Half-Elf</option>
               <option name="option4" value="General">Half-Orc</option>
               <option name="option4" value="General">Tiefling</option>
             </optgroup>
  </select>
  <hr>
  <p>Select your class</p>
  <select class="selectpicker" data-style="btn-info" name="selectpicker">
             <optgroup label="Select Class">
               <option name="option1" value="Sports">Barbarian</option>
               <option name="option2" value="Education">Bard</option>
               <option name="option3" value="Entertainment">Cleric</option>
               <option name="option4" value="General">Druid</option>
               <option name="option4" value="General">Fighter</option>
               <option name="option4" value="General">Monk</option>
               <option name="option4" value="General">Paladin</option>
               <option name="option4" value="General">Ranger</option>
               <option name="option4" value="General">Rogue</option>
               <option name="option4" value="General">Sorcer</option>
               <option name="option4" value="General">Warlock</option>
               <option name="option4" value="General">Wizard</option>
             </optgroup>
  </select>
</div>
